@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.part1{
    width: 100%;
    height: 59vh;
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins' sans-serif;
}
.part1 .row1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 44%;
    padding-top: 10px;
}
.part1 .row1 .p1{
    margin-left:550px;
}
.part1 .row1 .p1 button{
    font-size: 10px;
    border-radius: 30px;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    height: 30px;
    width: 80px;

}
.part1 .row1 .p1 button:hover{
    background-color: white;
    color: black;
}
.part1 img{
    width:20px;
    height:20px;
}
.part1 h4{
    text-align: center;
    color: aliceblue;
}
.container .row2{
    color: white;
    margin-top: 160px;
    padding: 15px;
    text-align: center;
    align-items: center;
}

.search-box {
    position: relative;
    display: inline-block;
    margin-top: 7px;
}
.search-box input {
    width: 320px;
    padding: 10px;
    padding-left: 35px;
    border-radius: 25px;
    border: none;
}
.search-box .icon-marker {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    font-size: 1.2rem;
}
.search-box .icon-arrow {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    background-color: rgb(233, 26, 26);
    border-radius: 50%;
    width: 29px;
    height: 29px;
    padding: 11px;
    padding-top: 6px;
    padding-left: 6px;
    font-size: 1.2rem;
    
}
.container .row2 button{
    width: 183px;
    height: 30px;
    border: none;
    border-radius: 30px;
    background-color: white;
    color: black;
    margin-top: 7px;
}
.container .row2 button i{
    color: black;
    padding-left: 0;
    padding-right: 3px;
}

.part2 img{
    width: 150px;
    height: 150px;
}
.part2{
    display: inline-flex;
    justify-content: space-between;
    margin-left: 420px;
}
.part2 .section-1{
    margin-top: 21px;
    margin-right: 100px;
}
.part2 .section-1 img{
    width: 160px;
    height: 130px;
    margin-bottom: 4px;
}
.part2 .section-2{
    margin-right: 100px;
}

.part2 .section-1,.section-2,.section-3{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.part2 a{
    text-decoration: none;
    color: rgb(233, 26, 26);
    margin-right: 10px;
    margin-top: 6px;
    font-size: 12px;
}
.part2 i{
    text-decoration: none;
    color:rgb(233, 26, 26);
    top:30%
}
.part2 p{
    font-size: 13px;
}